.produtos__box{

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 252px;
    padding: 0px;
    margin: 0px;
    width: 176px;

}

h5 {

    color: #464646;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    width: 176px;

}

h4 {

    color: #464646;
    font-size: 14px;
    font-weight: 700;
    height: 19px;
    line-height: 19px;
    margin: 0px;
    padding: 0px;
    width: 176px;

}
