.cabecalho__container {

    align-items: center;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 115px;
    padding: 0px;
<<<<<<< HEAD
=======
    margin: 0px;
>>>>>>> f27331a (Atualização)
    width: 1440px;
}