.banner__botao {
    
    align-items: center;
    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 51px;
    justify-content: center;
    padding: 16px;
    width: 130px;
}

