.login__titulo {
    
    color: #464646;
    font-size: 18px;
    font-weight: 700;
    height: 29px;
    line-height: 21px;
    left: 639px;
    margin-top: 92px;
    position: absolute; 
  
    width: 131px;

}
